<div class="footer-main">
  <div class="logo-kloudeats">
    <a href="https://www.kloudeats.com/" target="_blank">
      <img src="/images/eats.png" alt="kloudeats-logo" />
    </a>
  </div>
  <div class="social-icons">
    Connect with us
    <img src="/images/facebook.png" class="social-icon" role="button" />
    <img src="/images/youtube.png" class="social-icon" role="button" />
    <img src="/images/instagram.png" class="social-icon" role="button" />
    <img src="/images/twitter.png" class="social-icon" role="button" />
  </div>
  <div class="copyright">
    Powered by
    <a href="https://www.kloudeats.com/" style="text-decoration: none;" target="_blank">
      <span class="green-text" role="button">
        KloudEats.
      </span>
    </a>
    Your Restaurant all right reversed.
  </div>
</div>